In [1]:
import requests
import pandas as pd

In [2]:
with open('./key.txt') as file:
    SEOUL_API_AUTH_KEY = file.readline()

In [4]:
url = f"http://openapi.seoul.go.kr:8088/{SEOUL_API_AUTH_KEY}/json/SdeTlSccoSigW/1/25"

In [5]:
result_dict = requests.get(url).json()
print(result_dict)

{'SdeTlSccoSigW': {'list_total_count': 25, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'OBJECTID': 1.0, 'SIG_CD': '11320', 'SIG_KOR_NM': '도봉구', 'SIG_ENG_NM': 'Dobong-gu', 'ESRI_PK': 0.0, 'LAT': '37.6658609', 'LNG': '127.0317674'}, {'OBJECTID': 2.0, 'SIG_CD': '11380', 'SIG_KOR_NM': '은평구', 'SIG_ENG_NM': 'Eunpyeong-gu', 'ESRI_PK': 1.0, 'LAT': '37.6176125', 'LNG': '126.9227004'}, {'OBJECTID': 3.0, 'SIG_CD': '11230', 'SIG_KOR_NM': '동대문구', 'SIG_ENG_NM': 'Dongdaemun-gu', 'ESRI_PK': 2.0, 'LAT': '37.5838012', 'LNG': '127.0507003'}, {'OBJECTID': 4.0, 'SIG_CD': '11590', 'SIG_KOR_NM': '동작구', 'SIG_ENG_NM': 'Dongjak-gu', 'ESRI_PK': 3.0, 'LAT': '37.4965037', 'LNG': '126.9443073'}, {'OBJECTID': 5.0, 'SIG_CD': '11545', 'SIG_KOR_NM': '금천구', 'SIG_ENG_NM': 'Geumcheon-gu', 'ESRI_PK': 4.0, 'LAT': '37.4600969', 'LNG': '126.9001546'}, {'OBJECTID': 6.0, 'SIG_CD': '11530', 'SIG_KOR_NM': '구로구', 'SIG_ENG_NM': 'Guro-gu', 'ESRI_PK': 5.0, 'LAT': '37.4954856', 'LNG': '126.858121'}, {'OBJECTID': 7.0, 'SIG_CD': '11110', 'SIG_KOR_NM': '종로구', 'SIG_ENG_NM': 'Jongno-gu', 'ESRI_PK': 6.0, 'LAT': '37.5990998', 'LNG': '126.9861493'}, {'OBJECTID': 8.0, 'SIG_CD': '11305', 'SIG_KOR_NM': '강북구', 'SIG_ENG_NM': 'Gangbuk-gu', 'ESRI_PK': 7.0, 'LAT': '37.6469954', 'LNG': '127.0147158'}, {'OBJECTID': 9.0, 'SIG_CD': '11260', 'SIG_KOR_NM': '중랑구', 'SIG_ENG_NM': 'Jungnang-gu', 'ESRI_PK': 8.0, 'LAT': '37.5953795', 'LNG': '127.0939669'}, {'OBJECTID': 10.0, 'SIG_CD': '11680', 'SIG_KOR_NM': '강남구', 'SIG_ENG_NM': 'Gangnam-gu', 'ESRI_PK': 9.0, 'LAT': '37.4959854', 'LNG': '127.0664091'}, {'OBJECTID': 11.0, 'SIG_CD': '11500', 'SIG_KOR_NM': '강서구', 'SIG_ENG_NM': 'Gangseo-gu', 'ESRI_PK': 10.0, 'LAT': '37.5657617', 'LNG': '126.8226561'}, {'OBJECTID': 12.0, 'SIG_CD': '11140', 'SIG_KOR_NM': '중구', 'SIG_ENG_NM': 'Jung-gu', 'ESRI_PK': 11.0, 'LAT': '37.5579452', 'LNG': '126.9941904'}, {'OBJECTID': 13.0, 'SIG_CD': '11740', 'SIG_KOR_NM': '강동구', 'SIG_ENG_NM': 'Gangdong-gu', 'ESRI_PK': 12.0, 'LAT': '37.5492077', 'LNG': '127.1464824'}, {'OBJECTID': 14.0, 'SIG_CD': '11215', 'SIG_KOR_NM': '광진구', 'SIG_ENG_NM': 'Gwangjin-gu', 'ESRI_PK': 13.0, 'LAT': '37.5481445', 'LNG': '127.0857528'}, {'OBJECTID': 15.0, 'SIG_CD': '11440', 'SIG_KOR_NM': '마포구', 'SIG_ENG_NM': 'Mapo-gu', 'ESRI_PK': 14.0, 'LAT': '37.5622906', 'LNG': '126.9087803'}, {'OBJECTID': 16.0, 'SIG_CD': '11650', 'SIG_KOR_NM': '서초구', 'SIG_ENG_NM': 'Seocho-gu', 'ESRI_PK': 16.0, 'LAT': '37.4769528', 'LNG': '127.0378103'}, {'OBJECTID': 17.0, 'SIG_CD': '11290', 'SIG_KOR_NM': '성북구', 'SIG_ENG_NM': 'Seongbuk-gu', 'ESRI_PK': 17.0, 'LAT': '37.606991', 'LNG': '127.0232185'}, {'OBJECTID': 18.0, 'SIG_CD': '11350', 'SIG_KOR_NM': '노원구', 'SIG_ENG_NM': 'Nowon-gu', 'ESRI_PK': 18.0, 'LAT': '37.655264', 'LNG': '127.0771201'}, {'OBJECTID': 19.0, 'SIG_CD': '11710', 'SIG_KOR_NM': '송파구', 'SIG_ENG_NM': 'Songpa-gu', 'ESRI_PK': 19.0, 'LAT': '37.5048534', 'LNG': '127.1144822'}, {'OBJECTID': 20.0, 'SIG_CD': '11410', 'SIG_KOR_NM': '서대문구', 'SIG_ENG_NM': 'Seodaemun-gu', 'ESRI_PK': 21.0, 'LAT': '37.5820369', 'LNG': '126.9356665'}, {'OBJECTID': 21.0, 'SIG_CD': '11470', 'SIG_KOR_NM': '양천구', 'SIG_ENG_NM': 'Yangcheon-gu', 'ESRI_PK': 22.0, 'LAT': '37.5270616', 'LNG': '126.8561534'}, {'OBJECTID': 22.0, 'SIG_CD': '11560', 'SIG_KOR_NM': '영등포구', 'SIG_ENG_NM': 'Yeongdeungpo-gu', 'ESRI_PK': 23.0, 'LAT': '37.520641', 'LNG': '126.9139242'}, {'OBJECTID': 23.0, 'SIG_CD': '11620', 'SIG_KOR_NM': '관악구', 'SIG_ENG_NM': 'Gwanak-gu', 'ESRI_PK': 15.0, 'LAT': '37.4653993', 'LNG': '126.9438071'}, {'OBJECTID': 24.0, 'SIG_CD': '11200', 'SIG_KOR_NM': '성동구', 'SIG_ENG_NM': 'Seongdong-gu', 'ESRI_PK': 20.0, 'LAT': '37.5506753', 'LNG': '127.0409622'}, {'OBJECTID': 25.0, 'SIG_CD': '11170', 'SIG_KOR_NM': '용산구', 'SIG_ENG_NM': 'Yongsan-gu', 'ESRI_PK': 24.0, 'LAT': '37.5311008', 'LNG': '126.9810742'}]}}

In [6]:
result_data = result_dict['SdeTlSccoSigW']

print(result_data['list_total_count'])
print(result_data['RESULT'])
print(result_data['row'][0])

25
{'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
{'OBJECTID': 1.0, 'SIG_CD': '11320', 'SIG_KOR_NM': '도봉구', 'SIG_ENG_NM': 'Dobong-gu', 'ESRI_PK': 0.0, 'LAT': '37.6658609', 'LNG': '127.0317674'}

In [7]:
data_list = result_data['row']
sample_df = pd.DataFrame(data_list)
sample_df.head()

   OBJECTID SIG_CD SIG_KOR_NM     SIG_ENG_NM  ESRI_PK         LAT          LNG
0       1.0  11320        도봉구      Dobong-gu      0.0  37.6658609  127.0317674
1       2.0  11380        은평구   Eunpyeong-gu      1.0  37.6176125  126.9227004
2       3.0  11230       동대문구  Dongdaemun-gu      2.0  37.5838012  127.0507003
3       4.0  11590        동작구     Dongjak-gu      3.0  37.4965037  126.9443073
4       5.0  11545        금천구   Geumcheon-gu      4.0  37.4600969  126.9001546

In [8]:
# 서울열린데이터광장 OPEN API 호출을 위한 공통 함수
def seoul_open_api_data(url, service):
    data_list = []
    try:
        result_dict = requests.get(url).json()
        result_data = result_dict[service]
        code = result_data['RESULT']['CODE']
        if code == 'INFO-000':
            data_list = result_data['row']
    except:  #noqa
        pass
    return data_list

# 서울시 행정구역 데이터 가져오기

In [9]:
sgg_url = f"http://openapi.seoul.go.kr:8088/{SEOUL_API_AUTH_KEY}/json/SdeTlSccoSigW/1/25"
sgg_data_list = seoul_open_api_data(url, 'SdeTlSccoSigW')
sgg_data_list[0]

{'OBJECTID': 1.0,
 'SIG_CD': '11320',
 'SIG_KOR_NM': '도봉구',
 'SIG_ENG_NM': 'Dobong-gu',
 'ESRI_PK': 0.0,
 'LAT': '37.6658609',
 'LNG': '127.0317674'}

In [10]:
columns = ['SIG_CD', 'SIG_KOR_NM', 'LAT', 'LNG']
sgg_df = pd.DataFrame(sgg_data_list, columns=columns)
sgg_df.head()

  SIG_CD SIG_KOR_NM         LAT          LNG
0  11320        도봉구  37.6658609  127.0317674
1  11380        은평구  37.6176125  126.9227004
2  11230       동대문구  37.5838012  127.0507003
3  11590        동작구  37.4965037  126.9443073
4  11545        금천구  37.4600969  126.9001546

In [11]:
sgg_df.columns = ['시군구코드', '시군구명', '위도', '경도']
sgg_df.head()

   시군구코드  시군구명          위도           경도
0  11320   도봉구  37.6658609  127.0317674
1  11380   은평구  37.6176125  126.9227004
2  11230  동대문구  37.5838012  127.0507003
3  11590   동작구  37.4965037  126.9443073
4  11545   금천구  37.4600969  126.9001546

In [12]:
sgg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구코드   25 non-null     object
 1   시군구명    25 non-null     object
 2   위도      25 non-null     object
 3   경도      25 non-null     object
dtypes: object(4)
memory usage: 928.0+ bytes

In [13]:
sgg_df.to_excel('./files/seoul_sgg_list.xlsx', index=False)

# 서울시 시군구별 인구 데이터 가져오기

In [16]:
pop_url = f"http://openapi.seoul.go.kr:8088/{SEOUL_API_AUTH_KEY}/json/octastatapi419/1/26"
pop_data_list = seoul_open_api_data(pop_url, 'octastatapi419')
print(len(pop_data_list))

sgg_pop_df = pd.DataFrame(data = pop_data_list)

0

In [15]:
sgg_pop_df.head()

Empty DataFrame
Columns: []
Index: []

2020.07.31 부터 서울시 주민등록인구 open api 가 종료\
txt를내려받는 것으로 대체

In [17]:
sgg_pop_df = pd.read_csv('./files/report.txt', sep='\t')
sgg_pop_df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.2,"1,552,356"
3,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2,"28,396"
4,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"

In [18]:
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.2+ KB

In [22]:
condition1 = sgg_pop_df['자치구'] != '합계'
condition2 = sgg_pop_df['자치구'] != '자치구'
sgg_pop_df_selected = sgg_pop_df[condition1 & condition2]
sgg_pop_df_selected.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
3,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2,"28,396"
4,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
5,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
6,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
7,2020.3/4,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"

In [23]:
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 3 to 27
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        25 non-null     object
 1   자치구       25 non-null     object
 2   세대        25 non-null     object
 3   인구        25 non-null     object
 4   인구.1      25 non-null     object
 5   인구.2      25 non-null     object
 6   인구.3      25 non-null     object
 7   인구.4      25 non-null     object
 8   인구.5      25 non-null     object
 9   인구.6      25 non-null     object
 10  인구.7      25 non-null     object
 11  인구.8      25 non-null     object
 12  세대당인구     25 non-null     object
 13  65세이상고령자  25 non-null     object
dtypes: object(14)
memory usage: 2.9+ KB

In [24]:
columns = ['자치구', '인구']
sgg_pop_df_final = sgg_pop_df_selected[columns]
sgg_pop_df_final.head()

   자치구       인구
3  종로구  159,842
4   중구  135,321
5  용산구  244,953
6  성동구  302,695
7  광진구  361,923

In [25]:
sgg_pop_df_final.columns = ['시군구명', '주민등록인구']
sgg_pop_df_final.head()

  시군구명   주민등록인구
3  종로구  159,842
4   중구  135,321
5  용산구  244,953
6  성동구  302,695
7  광진구  361,923

In [26]:
sgg_pop_df_final.to_excel('./files/sgg_pop.xlsx', index=False)

# 서울시 시군구별 사업체 데이터 가져오기

In [27]:
biz_url = f"http://openapi.seoul.go.kr;8088/{SEOUL_API_AUTH_KEY}/json/octastatapi104/1/450"
biz_data_list = seoul_open_api_data(biz_url, 'octastatapi104')

sgg_biz_df = pd.DataFrame(biz_data_list)
sgg_biz_df.head()

Empty DataFrame
Columns: []
Index: []

In [34]:
sgg_biz_df = pd.read_csv('./files/biz_report.txt', sep='\t')
sgg_biz_df.head(10)

,기간,자치구,동,합계,합계.1,합계.2,합계.3,합계.4,농업 임업 및 어업,농업 임업 및 어업.1,...,공공행정 국방 및 사회보장 행정,공공행정 국방 및 사회보장 행정.1,교육 서비스업,교육 서비스업.1,보건업 및 사회복지 서비스업,보건업 및 사회복지 서비스업.1,예술 스포츠 및 여가관련 서비스업,예술 스포츠 및 여가관련 서비스업.1,협회 및 단체 수리 및 기타 개인 서비스업,협회 및 단체 수리 및 기타 개인 서비스업.1
0,기간,자치구,동,사업체수,사업체수,종사자수,종사자수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
1,기간,자치구,동,사업체수,여성대표자,계,남,여,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,2018,합계,합계,"823,385","279,711","5,210,936","2,878,227","2,332,709",30,462,...,"1,282","140,121","35,377","346,219","28,824","378,366","23,025","91,104","69,694","191,423"
3,2018,종로구,소계,"39,952","13,442","265,017","152,717","112,300",3,17,...,89,"15,658",850,"13,504",744,"15,888",909,"6,227","2,448","7,672"
4,2018,종로구,사직동,"3,541","1,191","49,536","28,658","20,878",1,14,...,19,"6,312",86,967,103,870,95,"1,544",252,843
5,2018,종로구,삼청동,712,324,"4,577","2,193","2,384",-,-,...,4,"1,204",14,260,7,30,17,175,24,209
6,2018,종로구,부암동,565,240,"3,609","1,706","1,903",-,-,...,3,59,40,"1,424",15,148,16,40,83,362
7,2018,종로구,평창동,751,319,"3,565","1,670","1,895",-,-,...,3,85,56,618,36,466,32,186,115,262
8,2018,종로구,무악동,581,103,"1,598",803,795,-,-,...,1,16,25,185,11,482,4,12,44,102
9,2018,종로구,교남동,393,156,"4,008","2,486","1,522",-,-,...,2,40,18,176,21,"2,499",11,44,57,181

In [35]:
condition = sgg_biz_df['동'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

,기간,자치구,동,합계,합계.1,합계.2,합계.3,합계.4,농업 임업 및 어업,농업 임업 및 어업.1,...,공공행정 국방 및 사회보장 행정,공공행정 국방 및 사회보장 행정.1,교육 서비스업,교육 서비스업.1,보건업 및 사회복지 서비스업,보건업 및 사회복지 서비스업.1,예술 스포츠 및 여가관련 서비스업,예술 스포츠 및 여가관련 서비스업.1,협회 및 단체 수리 및 기타 개인 서비스업,협회 및 단체 수리 및 기타 개인 서비스업.1
3,2018,종로구,소계,"39,952","13,442","265,017","152,717","112,300",3,17,...,89,"15,658",850,"13,504",744,"15,888",909,"6,227","2,448","7,672"
21,2018,중구,소계,"60,957","22,669","390,530","210,755","179,775",-,-,...,62,"19,280",471,"8,321",747,"10,104",558,"3,723","2,138","8,366"
37,2018,용산구,소계,"20,813","7,153","141,216","76,498","64,718",-,-,...,47,"3,149",550,"7,452",579,"6,658",408,"2,831","1,641","5,939"
54,2018,성동구,소계,"27,868","8,432","174,819","100,694","74,125",1,3,...,47,"4,471",961,"11,371",748,"8,539",581,"2,157","2,115","7,612"
72,2018,광진구,소계,"24,535","8,948","127,879","69,442","58,437",1,3,...,36,"2,662","1,183","14,139",909,"11,615","1,033","3,862","2,587","5,608"
88,2018,동대문구,소계,"31,878","10,575","140,748","74,303","66,445",-,-,...,50,"3,443","1,000","16,243","1,031","14,494",776,"2,462","2,581","5,466"
103,2018,중랑구,소계,"28,024","9,410","103,016","53,541","49,475",-,-,...,47,"3,471",936,"7,773",999,"11,920",940,"2,484","2,739","5,153"
120,2018,성북구,소계,"23,287","8,831","108,201","52,719","55,482",-,-,...,52,"3,301","1,382","21,481","1,044","12,835",756,"2,306","2,684","5,722"
141,2018,강북구,소계,"18,918","7,065","72,418","33,306","39,112",-,-,...,44,"3,265",684,"5,871",813,"9,195",741,"2,037","2,285","4,503"
155,2018,도봉구,소계,"18,894","6,320","74,314","38,646","35,668",1,3,...,38,"3,872",962,"7,537",837,"11,640",622,"1,907","2,064","4,366"

In [36]:
columns = ['자치구', '합계', '합계.2']
sgg_biz_df_final = sgg_biz_df_selected[columns]
sgg_biz_df_final.columns = ['시군구명', '사업체수', '종사자수']
sgg_biz_df_final.head()

   시군구명    사업체수     종사자수
3   종로구  39,952  265,017
21   중구  60,957  390,530
37  용산구  20,813  141,216
54  성동구  27,868  174,819
72  광진구  24,535  127,879

In [38]:
sgg_biz_df_final = sgg_biz_df_final.reset_index(drop=True)
sgg_biz_df_final.head()

  시군구명    사업체수     종사자수
0  종로구  39,952  265,017
1   중구  60,957  390,530
2  용산구  20,813  141,216
3  성동구  27,868  174,819
4  광진구  24,535  127,879

In [39]:
sgg_biz_df_final.to_excel('./files/sgg_biz.xlsx', index=False)