In [6]:
from selenium import webdriver
from bs4 import BeautifulSoup

import pandas as pd
import time

In [5]:
driver = webdriver.Chrome('C:/Users/gram/Downloads/chromedriver_win32/chromedriver.exe')
url = 'https://www.starbucks.co.kr/store/store_map.do?disp=locate'
driver.get(url)
driver.implicitly_wait(3)

In [9]:
search_region = driver.find_element_by_xpath('//*[@id="container"]/div/form/fieldset/div/section/article[1]/article/header[2]/h3/a')
search_region.click()
time.sleep(2)

seoul_btn = driver.find_element_by_xpath('//*[@id="container"]/div/form/fieldset/div/section/article[1]/article/article[2]/div[1]/div[2]/ul/li[1]/a')
seoul_btn.click()
time.sleep(2)

all_btn = driver.find_element_by_xpath('//*[@id="mCSB_2_container"]/ul/li[1]/a')
all_btn.click()
time.sleep(3)

In [16]:
result_list = driver.find_element_by_xpath('//*[@id="container"]/div/form/fieldset/div/section/article[1]/article/article[2]/div[3]/div[2]/div')
html = result_list.get_attribute('outerHTML')
soup = BeautifulSoup(html, 'html.parser')

starbucks_soup_list = soup.select('li.quickResultLstCon')
print(len(starbucks_soup_list))

534

In [17]:
starbucks_soup_list[0]

<li class="quickResultLstCon" data-code="3762" data-hlytag="null" data-index="0" data-lat="37.501087" data-long="127.043069" data-name="역삼아레나빌딩" data-storecd="1509" style="background:#fff"> <strong>역삼아레나빌딩  <img alt="" class="setStoreFavBtn" data-my_siren_order_store_yn="N" data-name="역삼아레나빌딩" data-store="1509" data-yn="N" src="//image.istarbucks.co.kr/common/img/store/icon_fav_off.png"/></strong> <p class="result_details">서울특별시 강남구 언주로 425 (역삼동)<br/>1522-3232</p> <i class="pin_general">리저브 매장 2번</i></li>

In [25]:
starbucks_store = starbucks_soup_list[0]
name = starbucks_store.select('strong')[0].text.strip()
lat = starbucks_store['data-lat'].strip()
long = starbucks_store['data-long'].strip()
store_type = starbucks_store.select('i')[0]['class'][0][4:]
address = str(starbucks_store.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
tel = str(starbucks_store.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]


print(name)        # 매장명
print(lat)         # 위도
print(long)        # 경도
print(store_type)  # 매장 타입
print(address)     # 매장 주소
print(tel)         # 전화번호

역삼아레나빌딩
37.501087
127.043069
general
서울특별시 강남구 언주로 425 (역삼동)
1522-3232

In [27]:
starbucks_list = []
for starbucks_store in starbucks_soup_list:
    name = starbucks_store.select('strong')[0].text.strip()
    lat = starbucks_store['data-lat'].strip()
    long = starbucks_store['data-long'].strip()
    store_type = starbucks_store.select('i')[0]['class'][0][4:]
    address = str(starbucks_store.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
    tel = str(starbucks_store.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]
    
    starbucks_list.append([name, lat, long, store_type, address, tel])

In [29]:
columns = ['매장명', '위도', '경도', '매장타입', '주소', '전화번호']
seoul_starbucks_df = pd.DataFrame(starbucks_list, columns=columns)
seoul_starbucks_df.head()

,매장명,위도,경도,매장타입,주소,전화번호
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),1522-3232
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),1522-3232
2,신사역성일빌딩,37.514132,127.020563,general,서울특별시 강남구 강남대로 584 (논현동),1522-3232
3,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232
4,스탈릿대치R,37.494668,127.062583,reserve,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232

In [30]:
seoul_starbucks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     534 non-null    object
 1   위도      534 non-null    object
 2   경도      534 non-null    object
 3   매장타입    534 non-null    object
 4   주소      534 non-null    object
 5   전화번호    534 non-null    object
dtypes: object(6)
memory usage: 25.2+ KB

In [ ]:
seoul_starbucks_df.to_excel('./files/seoul_starbucks_list.xlsx')